.homeDiv {
  paddig-bottom: 30px;
  background: red;
  padding: 0;
}
.welcome_LogoDiv {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px 0;
  background: blue;
}
.welcome {
  font-weight: bold;
  font-size: 27px;
  color: #22c55e;
  background: turquoise;
}
.ebukartLogoDiv {
  position: relative;
  width: 144px;
  height: 44px;
}
.discover {
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  width: 70%;
}
.browseAllBtnLinkDiv {
  padding: 0 10px;
  text-align: center;
  width: 100%;
}
.browseAllBtn {
  cursor: pointer;
  margin-top: 10px;
  width: 80%;
}

/************************ LARGE SCREENS ***********************/

@media all and (min-width: 600px) {
  .welcome_LogoDiv {
    justify-content: flex-start;
  }
  .discover {
    text-align: start;
    margin-top: 0 !important;
  }
  .browseAllBtnLinkDiv {
    text-align: start;
    padding: 0;
  }
  .browseAllBtn {
    width: 50%;
    font-size: 16px;
    margin-top: 0;
  }
  .sect1 {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sect1 > :first-child {
    flex-basis: 40%;
  }
  .sect1 > :first-child p {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    background: blue;
  }
  .sect1 > :first-child button {
    mgin-top: 5px;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .ebukartLogoDiv {
    height: 60px;
    width: 150px;
  }

  .carouselDiv {
    flex-basis: 50%;
  }
}
